@tailwind base;
@tailwind components;
@tailwind utilities;

/* input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
} */

.quill .ql-container.ql-snow {
  border: none !important;
}

.quill-toolbar .ql-toolbar.ql-snow {
  border: none !important;
}

/* ol {
  display: list-item;
  list-style-type: decimal;
} */

ol,
ul {
  padding-left: 20px;
}

ol > li {
  list-style-position: inside;
  list-style-type: decimal;
}
ul > li {
  list-style-position: inside;
  list-style-type: disc;
}

/* General styles */
.maincontactclass {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subcontactclass{
  /* width: 48%;
  padding: 10px; */
}

/* Mobile view styles */
@media (max-width: 768px) {
  .maincontactclass {
    flex-direction: column;
  }

  .subcontactclass{
    width: 100%;
  }
}


/* General styles For R column  */
.mainclasscolumn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subclasscolumn{
  /* width: 48%;
  padding: 10px; */
}

/* Mobile view styles */
@media (max-width: 768px) {
  .mainclasscolumn {
    flex-direction:column-reverse;
  }

  .subclasscolumn{
    width: 100%;
  }
}


/* General style for footer */
.mainfooterclass {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.subfooterclass{
  width: 48%;
  padding: 10px;
}

/* Mobile view styles */
@media (max-width: 768px) {
  .mainfooterclass {
    flex-direction: column;
  }

  .subfooterclass{
    width: 100%;
  }
}

.poweredsection li{
  list-style-type: none;
}
